config.stopBubbling = true
lombok.accessors.chain = true
lombok.addLombokGeneratedAnnotation = true
lombok.equalsAndHashCode.callSuper = skip
lombok.toString.callSuper = call
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
